[FunPay]
# Настройки FunPay бота

# Ключ авторизации в FunPay.
# Получите его с помощью расширения Edit This Cookie для браузера.
golden_key: key

# User-agent браузера. Необходимо указывать user-agent именно того браузера, откуда был взят golden_key
# Получить его можно тут: https://wtools.io/ru/check-my-user-agent
user_agent: agent

# Всегда онлайн. [1 - включить, 0 - выключить]
alwaysOnline: 1

# Автоподнятие лотов. [1 - включить, 0 - выключить]
lotsRaise: 1

# Автоактивация лотов после продажи. [1 - включить, 0 - выключить]
goodsStateCheck: 0

# Автовыдача товаров. [1 - включить, 0 - выключить]
autoDelivery: 1

# Автоответ. [1 - включить, 0 - выключить]
autoResponse: 1

# Приветственное сообщение для новых покупателей. [1 - включить, 0 - выключить]
greetingMessage: 1

# Текст приветственного сообщения для новых покупателей. 
# Для переноса строки в сообщении используйте \n.
# Доступные переменные: {name} - имя покупателя.
greetingMessageText: Привет, {name}!\nПродавец скоро ответит на твоё сообщение.

# Команда для проверки работы автовыдачи. [1 - включить, 0 - выключить]
autoDeliveryTestCommand: 0

# Текст, который отправляется в самом начале каждого сообщения бота в чате.
# Оставьте поле пустым, если не хотите использовать эту функцию.
waterMark: [ 🔥NightBot ]


[Telegram]
# Настройки Telegram бота

# Включить бота. [1 - включить, 0 - выключить]
enabled: 0

# Токен бота. Получить его можно у @BotFather
token: key

# Ник (логин) администратора в Telegram без @. Нужен для авторизации в боте.
userName: MyTelegramLogin

# Уведомления о новом сообщении. [1 - включить, 0 - выключить]
newMessageNotification: 1

# Уведомления о новом заказе. [1 - включить, 0 - выключить]
newOrderNotification: 1

# Уведомления о поднятии лотов. [1 - включить, 0 - выключить]
lotsRaiseNotification: 1

# Уведомления о выдаче товара. [1 - включить, 0 - выключить]
deliveryNotification: 1


[Proxy]
# Настройки прокси

# Включить прокси. [1 - включить, 0 - выключить]
enabled: 0

# Хост прокси
host:

# Порт прокси
port:

# Логин прокси (если есть)
login:

# Пароль прокси (если есть)
pass: 

# Тип прокси. [http]
type: http